# 20TH AUG ASSIGNMENT SOLUTION

# I asked sudhanshu sir, if it is okay to not to write explanation for code
# they said yes, the programmer understands the code so it is okay not write explanation

Q1.Write a program to reverse a string.

In [1]:
s = input("Enter a string:")
rev_str = s[::-1]
print("reverse of string is-", rev_str)

Enter a string: pwskills

reverse of string is- sllikswp

Q2. Check if a string is a palindrome.

In [5]:
s = input("Enter a string:")
rev_str = s[::-1]

if s == rev_str:
    print("the string",s,"palindrome")
else:
    print("the string",s,"is not palindrome")

Enter a string: sdf

the string sdf is not palindrome

Q3. Convert a string to uppercase.

In [6]:
s = input("Enter a string:")
upper_of_string = s.upper()
print('the upper case of string is',upper_of_string)

Enter a string: pwskills

the upper case of string is PWSKILLS

Q4. Convert a string to lowercase.

In [7]:
s = input("Enter a string:")
lower_of_string = s.lower()
print('the upper case of string is',lower_of_string)

Enter a string: KAPISH

the upper case of string is kapish

Q5. Count the number of vowels in a string.

In [15]:
s = input("Enter a sentence:")
string = s.lower()

vowels = set('aeiou')

count_of_vowels = 0

for i in string:
    if i in vowels:
        count_of_vowels = count_of_vowels + 1
        
print(count_of_vowels)

Enter a sentence: peskills

2

Q6. Count the number of consonants in a string.

In [24]:
s = input("Enter a sentence:")
string = s.lower()

consonents = set('bcdfghjklmnpqrsvwxyz')

count_of_consonents = 0

for i in string:
    if i in consonents:
        count_of_consonents +=  1
        
print(count_of_consonents,'consonents in the string')

Enter a sentence: pwskills

7 consonents in the string

Q7. Remove all whitespaces from a string.

In [23]:
s = input("Enter a string:")
string = s.lower()
ss = ''
for i in string:
    if i != ' ':
        ss += i
print(ss)

Enter a string: skjd sjhd kjasd

skjdsjhdkjasd

Q8. Find the length of a string without using the `len()` function.

In [28]:
s = input("Enter a string:")

length_of_string = 0

for i in range(len(s)):
    length_of_string += 1
print('length of string is',length_of_string)

Enter a string: pwskills

length of string is 8

Q9. Check if a string contains a specific word.

In [32]:
s = input("Enter a string:")
word = input("Enter a string:")

if word in s:
    print("the word is presen in the string")
else:
    print('The word is not present in a string')

Enter a string: hey its aakash
Enter a string: prapti

The word is not present in a string

Q10. Replace a word in a string with another word.

In [34]:
s = input("enter a string")

old_word = input('enter the word you want to replace: ')
new_word = input('enter the word you want to replace with: ')

s.replace(old_word, new_word)

enter a string pwskills is a good institute
enter the word you want to replace:  good
enter the word you want to replace with:  best

'pwskills is a best institute'

Q11. Count the occurrences of a word in a string.

In [40]:
s = input("enter a string:")

word = input('enter the word from string that you want to count occurance: ')

count_of_word = 0

for i in range(len(s)):
    if word in s:
        count_of_word += 1
    
count_of_word

enter a string: i i i i i
enter the word from string that you want to count occurance:  i

9

Q12. Find the first occurrence of a word in a string.

In [41]:
s = input("enter a string:")

print('The first occurance of a word is ', s[0])

enter a string: kapish

The first occurance of a word is  k

Q13. Find the last occurrence of a word in a string.

In [42]:
s = input("enter a string:")

print('The last occurance of a word is ', s[-1])

enter a string: kpasij

The last occurance of a word is  j

Q14. Split a string into a list of words.

In [51]:
s = input("enter a string:")
list_of_words = s.split()

print(list_of_words)

enter a string: pw sk i ll s

['pw', 'sk', 'i', 'll', 's']

Q15. Join a list of words into a string.

In [52]:
l = ['pw', 'sk','i']
s = ''
for i in l:
    s = s+i
print(s)

pwski

Q16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [54]:
s = input("enter a string:")

_seprated = s.replace(' ', '_')
print(_seprated)

enter a string: hey this is aakash

hey_this_is_aakash

Q17. Check if a string starts with a specific word or phrase.

In [59]:
s = input("enter a string:")
word = input("enter a word that you want to check: ")

split = s.split()
if split[0] == word :
    print("The sentence starts with ", word)
else:
    print('The word does not starts with ', word)

enter a string: pw skills
enter a word that you want to check:  pw

The sentence starts with  pw

Q18. Check if a string ends with a specific word or phrase.

In [62]:
s = input("enter a string:")
word = input("enter a word that you want to check: ")

split = s.split()
if split[-1] == word :
    print("The sentence ends with word ", word)
else:
    print('The word does not ends with word ', word)

enter a string: pw skills is
enter a word that you want to check:  is

The sentence ends with word  is

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [64]:
s = input("enter a string:")
title_case = s.title()
print(title_case)

enter a string: wow that is nice

Wow That Is Nice

Q20. Find the longest word in a string.

In [66]:
s = input("enter a string:")
word_list = s.split()
max_length = 0
word = ''
for i in word_list:
    if len(i) > max_length:
        max_length = len(i)
        word = i
        
print('The longest word is',word)

enter a string: pw skills ia a great institute

The longest word is institute

Q21. Find the shortest word in a string.

In [77]:
s = input("enter a string:")
word_list = s.split()
min_length = 10000
word = ''
for i in word_list:
    if len(i) < min_length:
        min_length = len(i)
        word = i
        
print('The shortest word is:',word)

enter a string: pwskills is great institute

The shortest word is: is

Q22. Reverse the order of words in a string.

In [84]:
s = input("enter a string:")

old_order = s.split()
new_order = old_order[::-1]
new_string = ''

for i in new_order :
    new_string = new_string +' '+ i
new_string

enter a string: pwskills is great institute

' institute great is pwskills'

Q23. Check if a string is alphanumeric.

In [89]:
s = input("enter a string:")

alpha_num = s.isalnum()

if alpha_num == True:
    print("The string is alphanumeric")
else:
    print("The string is not alphanumeric")

enter a string: rajesh123

The string is alphanumeric

Q24. Extract all digits from a string.

In [92]:
s = input("enter a string:")
numbers = ''

for i in s:
    if i.isdigit():
        numbers += i
        
numbers

enter a string: sdf4

'4'

Q25. Extract all alphabets from a string.

In [100]:
s = input("enter a string:")
alphabets = ''

for i in s:
    if i.isalpha():
        alphabets += i
        
alphabets

enter a string: hey123

'hey'

Q26. Count the number of uppercase letters in a string.

In [98]:
s = input("enter a string:")

count_of_uppercase = 0

for i in s:
    if i.isupper():
        count_of_uppercase += 1
print('Upper case letter count: ',count_of_uppercase)

enter a string: Welcome To My Home

Upper case letter count:  4

Q27. Count the number of lowercase letters in a string.

In [101]:
s = input("enter a string:")

count_of_lowercase = 0

for i in s:
    if i.islower():
        count_of_lowercase += 1
print('Lowercase letter count: ',count_of_lowercase)

enter a string: Welcome To My Home

Lowercase letter count:  11

Q28. Swap the case of each character in a string.

In [104]:
s = input("enter a string:")

swap_of_char = s.swapcase()

print('result after swaping: ',swap_of_char)

enter a string: Welcome To My Home

result after swaping:  wELCOME tO mY hOME

Q29. Remove a specific word from a string.

In [109]:
s = input("enter a string:")

word = input("Enter the word that you want to remove: ")

sentence = s.replace(word,'')

print(sentence)

enter a string: Welcome To My Home
Enter the word that you want to remove:  To

Welcome  My Home

Q31. Extract the username from an email address string.

In [5]:
mail = input('Enter your mail id')
username = mail.split('@')

print('Username of mail id is :',username[0])

Enter your mail id pwskills@gmail.com

Username of mail id is : pwskills

32. Extract the domain name from an email address string.

In [6]:
mail = input('Enter your mail id')
domain = mail.split('@')

print('domain of mail id is :',domain[1])

Enter your mail id pwskills@gmail.com

domain of mail id is : gmail.com

33. Replace multiple spaces in a string with a single space.

In [8]:
s = input("enter a string:")
string_split = s.split()
new_string = ' '.join(string_split)

print(new_string)

enter a string: pw       skills

pw skills

35. Extract the protocol (http or https) from a URL string.

In [11]:
url = input("Enter url")
url_split = url.split(':')

url_protocol = url_split[0]

print('Protocol of url is:', url_protocol)

Enter url https://lab.pwskills.com/my-labs

Protocol of url is: https

36. Find the frequency of each character in a string.

In [16]:
s = input("Enter a string:")
frequency = {}

for i in s:
    if i in frequency:
        frequency[i] = +1
    else:
        frequency[i] = 1

Enter a string: s

37. Remove all punctuation from a string.

In [19]:
s = input("Enter a string:")
punctuation = set(',:;-_.!?()''""''','')

new_word = ''

for i in s:
    if i != punctuation:
        new_word += i
    
print(new_word)

Enter a string: hey! it's ravi's father

hey! it's ravi's father

38. Check if a string contains only digits.

In [23]:
s = input("Enter a string:")

if s.isdigit():
    print('The string only contains digits')
else:
    print('The string also contains alphabets')

Enter a string: 9284235097

The string only contains digits

39. Check if a string contains only alphabets.

In [27]:
s = input("Enter a string:")

if s.isalpha():
    print('The string only contains alphabets.')
else:
    print('The string also contains numbers or special character.')

Enter a string: pwkills

The string only contains alphabets.

40. Convert a string to a list of characters.

In [28]:
s = input("Enter a string:")

list_of_char = s.split()

print('List of character in a string:',list_of_char)

Enter a string: sbi is the biggest psb bank in india.

List of character in a string: ['sbi', 'is', 'the', 'biggest', 'psb', 'bank', 'in', 'india.']

41. Check if two strings are anagrams.

In [29]:
s = input("Enter 1st letter:")
s1 = input("Enter 2nd letter:")

a = (sorted(s) == sorted(s1))
    print(s,'and', s1 ,'are anagrams')

Enter 1st letter: letter
Enter 2nd letter: silent

44. Find the most frequent word in a string.

In [33]:
s = input("Enter a string: ")
word_list = s.split()
count = 0

for i in word_list:
    if i == word_list:
        count +=1
print(count)

Enter a string:  it is not okay it

0

45. Find all unique words in a string.

In [38]:
s = input("Enter a string: ")
word_list = s.split()
unique_word = []

for i in word_list:
    if i not in unique_word:
        unique_word.append(i)
    
print('unique words in a string are:',unique_word)

Enter a string:  it is not okay it

unique words in a string are: ['it', 'is', 'not', 'okay']

47. Check if a string contains any special characters.

In [48]:
s = input("Enter a string: ")
special_character = set("',./?:;!@&()#")

for i in s :
    if i in special_character:
        print("string contains special character")

Enter a string:  pwskills?

string contains special character

48. Remove the nth word from a string.

In [54]:
s = input("Enter a string: ")
n = int(input("enter the which number of word you want to remove: "))

word_list = s.split()

word_removed = word_list.pop(n-1)

new_sentence = ' '.join(word_removed)

print(new_sentence)

Enter a string:  my name is khan
enter the which number of word you want to remove:  2

n a m e

50. Convert a CSV string to a list of lists.

In [ ]:
csv_s = input('Enter csv string: ')
split_csv = csv_s.split(',')
csv_list = []

csv.append

## List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [55]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [58]:
l = [1,2,3,3,4,5,5,6]
count = 0

for i in l:
    count += 1
print('length of the list is:',count)

length of the list is: 8

3. Append an element to the end of a list.

In [61]:
l = ['virat', 'rohit']
l.append('msd')
l

['virat', 'rohit', 'msd']

4. Insert an element at a specific index in a list.

In [66]:
list1 = [1,2,3,4,5]

element = (input("Enter element you want to insert:"))
place = int(input("At which place you want to insert:"))
list1.insert(place-1,element)

print(list1)

Enter element you want to insert: pwskills
At which place you want to insert: 1

['pwskills', 1, 2, 3, 4, 5]

5. Remove an element from a list by its value.

In [76]:
list1 = [5,10,15,10,25,30]

element_to_remove = 15

list1.remove(element_to_remove)

print('updated list: ',list1)

updated list:  [5, 10, 10, 25, 30]

6. Remove an element from a list by its index.

In [84]:
list1 = [5,10,15,20,25,30,35,40]

place = int(input("from which place you want to remove element:"))
list1.pop(place-1)

print('updated list: ',list1)

from which place you want to remove element: 2

updated list:  [5, 15, 20, 25, 30, 35, 40]

7. Check if an element exists in a list.

In [92]:
list1 = [5,10,15,20,25,30,35,40]
element = 10

if element in list1:
    print('Element is in the list')
else:
    print('Element is not in the list')

Element is in the list

8. Find the index of the first occurrence of an element in a list.

In [96]:
list1 = [5,10,15,20,25,30,35,40,10]
element = 10

first_occurance = list1.index(element) 
print('Index of 1st occurance of element is :', first_occurance)

Index of 1st occurance of element is : 1

9. Count the occurrences of an element in a list.

In [98]:
list1 = [5,10,15,20,25,30,35,40,10,100,10]
element = 10
count = 0
for i in list1:
    if element == i:
        count +=1
print('Occurance of element in the list:',count,'times')

Occurance of element in the list: 3 times

10. Reverse the order of elements in a list.

In [101]:
list1 = [5,10,15,20,25,30,35,40]
print('The reverse order of the list is: ',list1[::-1])

The reverse order of the list is:  [40, 35, 30, 25, 20, 15, 10, 5]

11. Sort a list in ascending order.

In [110]:
list1 = [6,8,12,531,3,1,0,33,4,6]
list1.sort()
print('sorted list in ascending order: ',list1)

sorted list:  [0, 1, 3, 4, 6, 6, 8, 12, 33, 531]

12. Sort a list in descending order.

In [111]:
list1 = [6,8,12,531,3,1,0,33,4,6]
list1.sort(reverse = True)
print('sorted list in decending order: ',list1)

sorted list in decending order:  [531, 33, 12, 8, 6, 6, 4, 3, 1, 0]

13. Create a list of even numbers from 1 to 20.

In [114]:
even_num_list = []

for i in range(2,21,2):
    even_num_list.append(i)
print(even_num_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [115]:
even_num_list = []

for i in range(1,21):
    if i%2 == 0:     
        even_num_list.append(i)
print(even_num_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [116]:
odd_num_list = []

for i in range(1,20,2):
    odd_num_list.append(i)
print(odd_num_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [117]:
even_num_list = []

for i in range(1,21):
    if i%2 != 0:     
        even_num_list.append(i)
print(even_num_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [121]:
l = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
sum = 0
for i in l:
    sum = sum + i
print('sum of all element of list is : 'sum)

110

16. Find the maximum value in a list.

In [124]:
l = [6,8,12,531,3,1,0,33,4,6]
max_num = max(l)
print('max number in the list is: ',max_num)

max number in the list is:  531

17. Find the minimum value in a list.

In [126]:
l = [6,8,12,531,3,1,33,4,6]
min_num = min(l)
print('min number in the list is: ',min_num)

min number in the list is:  1

18. Create a list of squares of numbers from 1 to 10.

In [132]:
squared_num = []

for i in range(1,11):
    square = i**2
    squared_num.append(square)
print('list of square numbers from 1 to 10: ',squared_num)

list of square numbers from 1 to 10:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [137]:
import random
l = []
for i in range(10):
    l.append(random.randint(1,50))
print('list of random number from 1 to 500',l)

list of random number from 1 to 500 [42, 2, 32, 44, 46, 46, 6, 21, 40, 8]

20. Remove duplicates from a list.

In [142]:
l = [1,2,2,23,4,45,55,5,5,55,5,6,8,12]

unique_list = list(set(l))
print('unique elements in the list:',unique_list)

unique elements in the list: [1, 2, 4, 5, 6, 8, 12, 45, 55, 23]

In [144]:
l = [1,2,2,23,4,45,55,5,5,55,5,6,8,12]
unique_list = []
for i in l:
    if i not in unique_list:
        unique_list.append(i)
print('unique elements in the list:',unique_list)

unique elements in the list: [1, 2, 23, 4, 45, 55, 5, 6, 8, 12]

21. Find the common elements between two lists.

In [146]:
l1 = [1,10,2,20,3,30]
l2 = [10,30,50,70]

common_element = []
for i in l1:
    for j in l2:
        if i == j:
            common_element.append(i)
            
print('common element in l1 and l2 :',common_element)

common element in l1 and l2 : [10, 30]

23. Merge two lists.

In [154]:
l1 = [1,10,2,20,3,30]
l2 = [10,30,50,70,23]

merged_list = l2 + l1
print('merged list: ',merged_list)

merged list:  [10, 30, 50, 70, 23, 1, 10, 2, 20, 3, 30]

24. Multiply all elements in a list by 2.

In [163]:
l1 = [1,2,3,4,5]
l2 = [i * 2 for i in l1]
print('After multiplying by 2 in each element of l1: ',l2)

After multiplying by 2 in each element of l1:  [2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [169]:
l = [1,2,2,23,4,45,55,5,5,55,5,6,8,12]
l1 = []
for i in l:
    if i% 2 == 0:
        l1.append(i)
print('Every even element fromlist l: ',l1)

Every even element fromlist l:  [2, 2, 4, 6, 8, 12]

26. Convert a list of strings to a list of integers.

In [173]:
l1 = ['1','2','3','4','5']
l2 = []
for i in l1:
    x = int(i)
    l2.append(x)

print('list of strings to a list of integers:',l2)

list of strings to a list of integers [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [175]:
l1 = [1,2,3,4,5]
l2 = []
for i in l1:
    x = str(i)
    l2.append(x)

print('list of integers to a list of strings :',l2)

list of integers to a list of strings : ['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [180]:
l = [[1,2,3],[4,5,6],[7,8,9]]

flatten_list = []

for i in l:
    for j in i:
        flatten_list.append(j)
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [186]:
a = 0
b = 1
fib_list = []
c = 0
for i in range(2,10):
    c = a + b
    a = b
    fib_list.append(c)
print(fib_list)

[1, 2, 2, 2, 2, 2, 2, 2]

31. Rotate a list to the left by `n` positions.

In [6]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
rotate_position = 3
rotate_list = l[rotate_position:] + l[:rotate_position]
print('rotated list by 3 position:',rotate_list)

rotated list by 3 position: [4, 5, 6, 7, 8, 9, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [5]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
rotate_position = 3
rotate_list = l[-rotate_position:] + l[:-rotate_position]
print('rotated list by 3 position:',rotate_list)

rotated list by 3 position: [7, 8, 9, 1, 2, 3, 4, 5, 6]

33. Create a list of prime numbers up to 50.

In [7]:
prime_num_list = []

n = 50

for i in range(n):
    if n/1 == n or

SyntaxError: invalid syntax (3235544590.py, line 6)

34. Split a list into chunks of size `n`.

In [8]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = 3

AttributeError: 'list' object has no attribute 'split'

35. Find the second largest number in a list.

In [12]:
l = [1,2,2,23,4,45,55,5,5,55,5,6,8,12]
sorted_list = sorted(set(l))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 45

36. Replace every element in a list with its square.

In [13]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

square_list = [i**2 for i in l]

print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [17]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

key_dict = {}

for i in l:
    if i not in key_dict:
        key_dict[i] = l.index(i)
print('list converted to dictonary : ',key_dict)

list converted to dictonary :  {1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8}

38. Shuffle the elements of a list randomly.

In [26]:
import random

l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

random.shuffle(l)
print('random shuffled list',l)

random shuffled list [2, 7, 5, 3, 4, 9, 6, 1, 8]

39. Create a list of the first 10 factorial numbers.

In [29]:
fact_list = []

for i in range(1,11):
    fact_list.append(i*i)
    
print(fact_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

40. Check if two lists have at least one element in common.

In [54]:
l1 = [1,10,2,20,3,30]
l2 = [10,30,50,70]

common_element = []
for i in l1:
    for j in l2:
        if i == j:
            common_element.append(i)
        
if len(common_element) >= 1:
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

41. Remove all elements from a list.

In [57]:
l = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

for i in range(len(l)):
    l.pop()
print('After removing all the elements from the list : ',l)

After removing all the elements from the list :  []

42. Replace negative numbers in a list with 0.

In [66]:
l = [1, 4, -9, 16, -25, -36, 49, 64, 81, -100]

for i in range(len(l)):
    if l[i] < 0:
        l[i] = 0
print('List after replacing neative value with 0 : ',l)

List after replacing neative value with 0 :  [1, 4, 0, 16, 0, 0, 49, 64, 81, 0]

43. Convert a string into a list of words.

In [78]:
s = input("Enter a sentence")
l = s.split()
print('After converting sentence into list of words : ',l)

Enter a sentence hey my name is rohan

After converting sentence into list of words :  ['hey', 'my', 'name', 'is', 'rohan']

44. Convert a list of words into a string.

In [81]:
l = ['hey', 'my', 'name', 'is', 'rohan']

s = ' '.join(l)

print('After converting list into sentence : ',s)

After converting list into sentence :  hey my name is rohan

45. Create a list of the first `n` powers of 2.

In [86]:
n = 20
l = [i**2 for i in range(n+1)]

# for i in range(n):
print('List of first "n" power of 2 : ',l)

List of first "n" power of 2 :  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

46. Find the longest string in a list of strings.

In [87]:
l = ['hey', 'my', 'name', 'is', 'rohan']

longest_string = ""
for i in  l:
    if len(i) > len(longest_string):
        longest_string = i

print("Longest string:", longest_string)

Longest string: rohan

47. Find the shortest string in a list of strings.

In [90]:
l = ['hey', 'my', 'name', 'is', 'rohan']

shortest_string = l[0]
for i in l:
    if len(i) < len(shortest_string):
        shortest_string = i

        print('Shortest String : ', shortest_string)

Shortest String :  my

50. Swap two elements in a list by their indices.

In [1]:
l = [1, 4, 0, 16, 0, 0, 49, 64, 81, 0]

index1 = 3
index2 = 7

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [3]:
t = (1,2,3,4,5)

print('Tuple of range 1 to 5 : ',t)

Tuple of range 1 to 5 :  (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [4]:
t = (1,3,5,7,9)

third_element = t[2]

print('Third element of tuple is : ', third_element)

Third element of tuple is :  5

3. Find the length of a tuple without using the `len()` function.

In [6]:
t = (1,3,5,7,9)

count = 0
for i in t:
    count += 1
print('Length of the tuple is  : ',count)

Length of the tuple is  :  5

4. Count the occurrences of an element in a tuple.

In [11]:
t = (1,3,9,5,3,7,9,0,9)

element = 9
count = 0

for i in t:
    if i == element:
        count +=1
print('The element', element, 'occurs',count,'times in tuple')

The element 9 occurs 3 times in tuple

5. Find the index of the first occurrence of an element in a tuple.

In [17]:
t = (1,3,9,5,3,7,9,0,9)

element = 3
index = -1

for i in l:
    if i == element:
        index = i
print(index)

-1

6. Check if an element exists in a tuple.

In [22]:
t = (1,3,9,5,3,7,9,0,9)

element = 5

if element in t:
    print("The element ",element,"exists in tuple.")
else:
    print('The element',element,'do not exits in tuple.')

The element  5 exists in tuple.

7. Convert a tuple to a list.

In [27]:
t = (1,3,9,5,3,7,9,0,9)

list1 = []

for i in t:
    list1.append(i)

print('Tuple converted to list : ',list1)

Tuple converted to list :  [1, 3, 9, 5, 3, 7, 9, 0, 9]

8. Convert a list to a tuple.

In [30]:
list1 = [1, 3, 9, 5, 3, 7, 9, 0, 9]

t = tuple(list1)

print('List converted to tuple : ',t)

List converted to tuple :  (1, 3, 9, 5, 3, 7, 9, 0, 9)

9. Unpack the elements of a tuple into variables.

In [32]:
t = (1, 3, 9)

a, b, c = t
print('a:',a)
print('b:',b)
print('c:',c)

a: 1
b: 3
c: 9

10. Create a tuple of even numbers from 1 to 10.

In [34]:
l = []

for i in range(1,11):
    if i % 2 == 0:
        l.append(i)
    
t = tuple(l)
print('Tuple of even numbers from 1 to 10: ',t)

Tuple of even numbers from 1 to 10:  (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [37]:
l = []

for i in range(1,10):
    if i % 2 != 0:
        l.append(i)
    
t = tuple(l)
print('Tuple of odd numbers from 1 to 10: ',t)

Tuple of odd numbers from 1 to 10:  (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [40]:
t1 = (1,2,3)
t2 = (4,5,6)

concenate_t = t1 + t2
print('Concatenation of two tuples:',concenate_t)

Concatenation of two tuples: (1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [ ]:
t1 = (1,2,3)

t = t1

14. Check if a tuple is empty.

In [3]:
t = (1,2,3)

if len(t) == 0:
    print('Tuple is empty.')
else:
    print('Tuple is not empty')

Tuple is not empty

15. Create a nested tuple.

In [8]:
t = ((1,2),(3,4))
print('Nested tuple : ',t)

Nested tuple :  ((1, 2), (3, 4))

16. Access the first element of a nested tuple.

In [10]:
Nested_tuple = ((1, 2), (3, 4))

first_element = Nested_tuple[0]

print('First element of nested tuple is: ',first_element)

First element of nested tuple is:  (1, 2)

17. Create a tuple with a single element.

In [14]:
t = (39,)

print('Tuple with single element',t)

Tuple with single element (39,)

18. Compare two tuples.

In [15]:
t1 = (1,2,3)
t2 = (4,5,6)

print("tuple1 == tuple2:", t1 == t2)  
print("tuple1 != tuple2:", t1 != t2)  
print("tuple1 < tuple2:", t1 < t2)   
print("tuple1 <= tuple2:", t1 <= t2) 
print("tuple1 > tuple2:", t1 > t2)    
print("tuple1 >= tuple2:", t1 >= t2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [22]:
t1 = (1,2,3)

del t1
t1

NameError: name 't1' is not defined

20. Slice a tuple.

In [25]:
t = (1, 3, 9, 5, 3, 7, 9, 0, 9)

slice_t = t[2:7]

print('Sliced tuple: ',slice_t)

Sliced tuple:  (9, 5, 3, 7, 9)

21. Find the maximum value in a tuple.

In [28]:
t = (1, 3, 9, 5, 3, 7, 9,  9,200, 7,67)

print('Maximum value in the tuple is : ',max(t))

Maximum value in the tuple is :  200

22. Find the minimum value in a tuple.

In [30]:
t = (3, 9, 5, 3,1, 7, 9,  9,200, 7,67)

print('Minimum value in the tuple is : ',min(t))

Minimum value in the tuple is :  1

23. Convert a string to a tuple of characters.

In [34]:
string = 'Hey there, kapish here'

t1 = tuple(string)
print('Tuple of characters:',t1)

Tuple of characters: ('H', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e', ',', ' ', 'k', 'a', 'p', 'i', 's', 'h', ' ', 'h', 'e', 'r', 'e')

24. Convert a tuple of characters to a string.

In [38]:
t = ('H', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e', ',', ' ', 'k', 'a', 'p', 'i', 's', 'h', ' ', 'h', 'e', 'r', 'e')

str_char = ''.join(t)

print('Tuple to string:',str_char)

Tuple to string: Hey there, kapish here

25. Create a tuple from multiple data types.

In [41]:
t = (1,[1,2,3],('pwskills','DSA'),{3,5},{'a': 1})

print('Tuple of multiple data types:',t)

Tuple of multiple data types: (1, [1, 2, 3], ('pwskills', 'DSA'), {3, 5}, {'a': 1})

26. Check if two tuples are identical.

In [44]:
t1 = (1,2,3)
t2 = (1,2,3)

if t1 == t2:
    print('Tuples are identical')
else:
    print('Tuples are not identical')

Tuples are identical

27. Sort the elements of a tuple.

In [53]:
t = (1, 3, 9, 5, 3, 7, 9,  9,200, 7,67)

l1 = list(t)
l1.sort()
t1 = tuple(l1)

print('Tuple after sorting: ',t1)

Tuple after sorting:  (1, 3, 3, 5, 7, 7, 9, 9, 9, 67, 200)

In [57]:
t = (1, 3, 9, 5, 3, 7, 9,  9,200, 7,67)

sort = tuple(sorted(t))
print('Tuple after sorting: ',sort)

Tuple after sorting:  (1, 3, 3, 5, 7, 7, 9, 9, 9, 67, 200)

28. Convert a tuple of integers to a tuple of strings.

In [64]:
t = (1, 2, 3, 4, 5)

tuple_of_strings = tuple(str(item) for item in t)

print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [67]:
t = ('1', '2', '3', '4', '5')

tuple_of_integer = tuple(int(item) for item in t)

print("Tuple of integers:", tuple_of_integer)

Tuple of integers: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [70]:
t1 = (1,2,3)
t2 = (4,5,6)

merged_tuple = t1 + t2

print('Merged tuple:',merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [75]:
nested_tuple = ((1, 2), (3, 4))

for i in nested_tuple:
    for j in i:

TypeError: 'int' object is not iterable

33. Check if a tuple is a palindrome.

In [83]:
t1 = (1,2,3,2,1)
t2 = t1[::-1]

if t1 == t2:
    print('Tuple is a palindrome.')
else:
    print('Tuple is not palindrome.')

Tuple is a palindrome.

34. Create a tuple of squares of numbers from 1 to 5.

In [87]:
t = tuple([i**2 for i in range(1,6)])
print('squares of numbers from 1 to 5:',t)

squares of numbers from 1 to 5: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [91]:
t = (1, 2, 3, 4, 5, 6)
l = []
for i in t:
    if i%2 == 0:
        l.append(i)
even_num_tuple = tuple(l)
print('Even numbers from a tuple: ',even_num_tuple)

Even numbers from a tuple:  (2, 4, 6)

36. Multiply all elements in a tuple by 2.

In [94]:
t = (1, 2, 3, 4, 5, 6)
l = []

for i in t:
    l.append(i*2)
t1 = tuple(l)
print('After multiplying all elements of tuple t by 2:',t1)

After multiplying all elements of tuple t by 2: (2, 4, 6, 8, 10, 12)

37. Create a tuple of random numbers.

In [99]:
import random

t = tuple(random.randint(1,50) for i in range(10))
print('Tuple of random numbers',t)

Tuple of random numbers (26, 14, 2, 36, 34, 15, 22, 16, 27, 49)

38. Check if a tuple is sorted.

In [102]:
t = (26, 14, 2, 36, 34, 15, 22, 16, 27, 49)

sorted(t)

[2, 14, 15, 16, 22, 26, 27, 34, 36, 49]

39. a tuple to the left by `n` positions.

In [106]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9)

rotate_position = 2
rotate_list = t[rotate_position:] + t[:rotate_position]

print('rotated list by 3 position:',rotate_list)

rotated list by 3 position: (3, 4, 5, 6, 7, 8, 9, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [109]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9)

rotate_position = 3
rotate_list = t[rotate_position:] + t[:-rotate_position]

print('rotated list by 3 position:',rotate_list)

rotated list by 3 position: (4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6)

## Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [5]:
s = set()

for i in range(1,6):
    s.add(i)
print('set with integers from 1 to 5: ',s)

set with integers from 1 to 5:  {1, 2, 3, 4, 5}

2. Add an element to a set.

In [8]:
s = {1,2,3}

element = 4
s.add(element)

print('After adding element to set:',s)

After adding element to set: {1, 2, 3, 4}

3. Remove an element from a set.

In [18]:
s = {1, 2, 3, 4}

element = 3

s.remove(element)
print('Set after removing element: ',s)

Set after removing element:  {1, 2, 4}

4. Check if an element exists in a set.

In [20]:
s = {1, 2, 3, 4}

element = 3

if element in s:
    print(element,"exists in a set")

3 exists in a set

5. Find the length of a set without using the `len()` function.

In [23]:
s = {1, 2, 3, 4, 5, 6, 7, 8}

count = 0
for i in range(len(s)):
    count +=1
print('Length of set is: ',count)

Length of set is:  8

6. Clear all elements from a set.

In [26]:
s = {1, 2, 3, 4, 5, 6, 7, 8}

s.clear()
print('Set after removing all elements:',s)

Set after removing all elements: set()

7. Create a set of even numbers from 1 to 10.

In [30]:
s = set()

for i in range(2,11,2):
    s.add(i)
print('Set of even numbers from 1 to 10:',s)

Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [31]:
s = set()

for i in range(1,10,2):
    s.add(i)
print('Set of odd numbers from 1 to 10:',s)

Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [47]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

print(s1)
print(s2)

union_set = s1.intersection(s2)

print('Union of set s1 and s2:',union_set)

{1, 2, 3, 4}
{3, 4, 5, 6}
Union of set s1 and s2: {3, 4}

10. Find the intersection of two sets.

In [48]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

intersection_set = s1.intersection(s2)

print(s1)
print(s2)
print('Intersection of set s1 and s2:',intersection_set)

{1, 2, 3, 4}
{3, 4, 5, 6}
Intersection of set s1 and s2: {3, 4}

11. Find the difference between two sets.

In [51]:
set1 = {1, 2}
set2 = {3, 4}

print(s1)
print(s2)

print('Difference of set s1 and s2:',s1.difference(s2))

{1, 2, 3, 4}
{3, 4, 5, 6}
Difference of set s1 and s2: {1, 2}

12. Check if a set is a subset of another set.

In [61]:
s1 = {1,2,3,4}
s2 = {3,4}

print(s1)
print(s2)

if s2.issubset(s1):
    print('Set s2 is subset of set s1')
else:
    print('Set s2 is not a subset of set s1')

{1, 2, 3, 4}
{3, 4}
Set s2 is subset of set s1

13. Check if a set is a superset of another set.

In [62]:
s1 = {1,2,3,4}
s2 = {3,4}

print(s1)
print(s2)

if s1.issuperset(s2):
    print('Set s1 is super-set of s2')
else:
    print('Set s1 is not super-set of s2')

{1, 2, 3, 4}
{3, 4}
Set s1 is super-set of s2

14. Create a set from a list.

In [64]:
list1 = [1,2,3,4,5]

s = set(list1)

print('Set from a list:',s)

Set from a list: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [65]:
s = {1, 2, 3, 4, 5}

l1 = list(s)
l1

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [73]:
import random

s = {1,13,2,456,67,2,8,9,5,67,77}

element = random.choice(list(s))

s.remove(element)
print("Updated set after removing",element, ":", s)

Updated set after removing 67 : {1, 2, 5, 456, 8, 9, 13, 77}

17. Pop an element from a set.

In [2]:
s = {1,13,2,456,67,2,8,9,5,67,77}

element = 67
popped_element = s.pop()

print('Original set:', s)
print('Popped element:',popped_element)
print('Set after popping :',s)

Original set: {2, 67, 5, 456, 8, 9, 13, 77}
Popped element: 1
Set after popping : {2, 67, 5, 456, 8, 9, 13, 77}

18. Check if two sets have no elements in common.

In [5]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 7, 8}

common_elements = s1.intersection(s2)

if not common_elements:
     print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

19. Find the symmetric difference between two sets.

In [6]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference = set1 ^ set2

print("Symmetric Difference:",difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [10]:
s1 = {1, 2, 3, 4, 5}
print('Set 1:', s1)
s2 = {4, 5, 6, 7, 8}
print('Set 2:', s2)

s1.update(s2)

print('')

{1, 2, 3, 4, 5, 6, 7, 8}

22. Check if two sets are identical.

In [2]:
s1 = {1, 2, 3, 4, 5}
s2 = {5, 3, 4, 1, 2}

if s1 == s2:
    print('The sets are identical')
else:
    print('The sets are not identical')

The sets are identical

23. Create a frozen set.

In [7]:
s1 = [1, 2, 3, 4, 5]

frozen_set = frozenset(s1)

print('Frozen set:',frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [13]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 7, 8}

disjoint = s1.isdisjoint(s2)

if disjoint:
    print("Sets are disjoint.")
else:
    print("Sets are not disjoint")

Sets are disjoint.

25. Create a set of squares of numbers from 1 to 5.

In [19]:
l = []

for i in range(1,6):
    l.append(i)
    
square_set = set(l)
print('Square set:', square_set)

Square set: {1, 2, 3, 4, 5}

26. Filter out all even numbers from a set.

In [22]:
s = {1,2,3,4,5,678,34,2,67,3,24,78,9,23,56,87,34,2}

even_num = set()
for i in s:
    if i % 2 == 0:
        even_num.add(i)
    
print('Even number from set s:',even_num)

Even number from set s: {2, 34, 4, 678, 78, 24, 56}

27. Multiply all elements in a set by 2.

In [30]:
s = {1,2,3,4,5,6,7,8}

multiply_set = set()

for i in s:
    multiple = i * 2
    multiply_set.add(multiple)
print('After multiplying all elements in set by 2:',multiply_set)

After multiplying all elements in set by 2: {2, 4, 6, 8, 10, 12, 14, 16}

28. Create a set of random numbers.

In [32]:
import random

random_num_set = set()

for i in range(11):
    random_num = random.randint(1,50)
    random_num_set.add(random_num)
    
print('set of random numbers:',random_num_set)

set of random numbers: {33, 35, 37, 5, 7, 40, 12, 14, 26, 27, 31}

29. Check if a set is empty.

In [37]:
s = set()

if len(s) == 0:
    print('The set is empty.')
else:
    print('The set contains values')

The set is empty.

30. Create a nested set (hint: use frozenset).

In [38]:
s1 = {1, 2, 3, 4, 5}
s2 = {6, 7, 8, 9, 10}


frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4}), frozenset({8, 5, 6, 7})}

31. Remove an element from a set using the discard method.

In [43]:
s1 = {1, 2, 3, 4, 5}

element = 3
s1.discard(element)
print('Set s1 after removing',element,':',s1)

Set s1 after removing 3 : {1, 2, 4, 5}

32. Compare two sets.

In [49]:
s1 = {1, 2, 3, 4, 5}
s2 = {6, 7, 8, 9, 10}

print('Union of set s1 and s2:',s1.union(s2))
print('Is s1 a subset of s2?',s1.issubset(s2))
print('Is s1 a superset of s2:',s1.issuperset(s2))
print('Intersection of set s1 and s2:',s1.intersection(s2))

Union of set s1 and s2: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Is s1 a subset of s2? False
Is s1 a superset of s2: False
Intersection of set s1 and s2: set()

33. Create a set from a string.

In [55]:
s = "hello world"

char_set = set(s)

print(char_set)

{'d', 'e', 'w', 'o', 'l', 'r', ' ', 'h'}

34. Convert a set of strings to a set of integers.

In [61]:
s = {'1','2','3','4'}

int_set = set()

for i in s:
    int_val = int(i)
    int_set.add(int_val)
    
print('Set of strings to a set of integers:',int_set)

Set of strings to a set of integers: {1, 2, 3, 4}

35. Convert a set of integers to a set of strings.

In [65]:
s = {1,2,3,4}

str_set = set()

for i in s:
    str_val = str(i)
    str_set.add(str_val)
    
print('Set of strings to a set of integers:',str_set)

Set of strings to a set of integers: {'4', '3', '1', '2'}

36. Create a set from a tuple.

In [68]:
t = (1,2,3,4)

set_ = set(t)

print('Set from a tuple:',set_)

Set from a tuple: {1, 2, 3, 4}

37. Convert a set to a tuple.

In [69]:
t = {1,2,3,4}

tuple_ = tuple(t)

print('Tuple from a set:',tuple_)

Tuple from a set: (1, 2, 3, 4)

38. Find the maximum value in a set.

In [72]:
s = {33, 35, 37, 5, 7, 40, 12, 14, 26, 27, 31}

max_from_set = max(s)

print('The maximum value in set is: ', max_from_set)

The maximum value in set is:  40

39. Find the minimum value in a set.

In [73]:
s = {33, 35, 37, 5, 7, 40, 12, 14, 26, 27, 31}

min_from_set = min(s)

print('The maximum value in set is: ', min_from_set)

The maximum value in set is:  5

40. Create a set from user input.

In [ ]:
user_set = set()

print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ") 

    if user_input.lower() == 'done':
        break
    user_set.add(user_input)

print("Final set:", user_set)

41. Check if the intersection of two sets is empty.

In [4]:
s1 = {1, 2, 3, 4, 5}
s2 = {6, 7, 8, 9, 10}

intersection = s1.intersection(s2)

if not intersection:
    print('The intersection of the two sets is empty.')
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is empty.

43. Remove duplicates from a list using sets.

In [6]:
l = [1,2,4,4,6,7,8,2,3,4]

s = set(l)
print('Set after removing all duplicates from list l',s)

Set after removing all duplicates from list l {1, 2, 3, 4, 6, 7, 8}

45. Create a set of the first `n` powers of 2.

In [8]:
s = set()

n = 6
for i in range(1,n+1):
    power2_set = i ** 2
    s.add(power2_set)
    
print('Set of the first `n` powers of 2:',s)

Set of the first `n` powers of 2: {1, 4, 36, 9, 16, 25}

46. Find the common elements between a set and a list.

In [11]:
l = [2,4,6,2,3,66,32]
s = {1, 2, 3, 4, 6, 7, 8}

common_elements = set()

for i in l:
    for j in s:
        if i == j:
            common_elements.add(i)

print('Common elements between set s and list l:',common_elements)

Common elements between set s and list l: {2, 3, 4, 6}

50. Merge multiple sets into one.